/* custom class */
/*reset */
p, body, ul {
  margin: 0;
}
ul{
  padding: 0;
}
input{
  border-width: 0;
  padding: 10px 0;
}

/*custom sliding pane style*/
.zIndex {
  z-index: 999;
}

.zIndex .slide-pane__header {
  background: transparent;
  border-bottom: none;
}
/*login svg */
.st0 {
  fill: #ecd714;
}
.st1 {
  fill: #e9b115;
}
.st2 {
  fill: #fe0808;
}
.st3 {
  fill: #e60000;
}
.st4 {
  fill: #fe1200;
}
.st5 {
  fill: #4e4707;
}
.st6 {
  fill: #180403;
}
.st7 {
  fill: #6c6209;
}
.st8 {
  fill: #010100;
}
.st9 {
  fill: #0b0a01;
}
.st10 {
  fill: #f8f8f8;
}
.st11 {
  fill: #f7f7f7;
}
.st12 {
  fill: #94190a;
}
.st13 {
  fill: #7c150d;
}
.st14 {
  fill: #791913;
}
.st15 {
  fill: #39cbd9;
}

.wrapper {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.wrapper .tail {
  position: absolute;
  width: 35%;
  z-index: -10;
  bottom: 18%;
  right: 3%;
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  animation: tail 2s linear infinite;
  -webkit-animation: tail 2s linear infinite;
}
@keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}


/*
*
*  grapejs
*/

/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}